* {
    box-sizing: border-box;
  }

  body{
      height: 100vh;
  }

  

.home{
    background-color: #83b7f1;
    font-family: "Gill Sans", sans-serif;
}


.first{
    background-color: #f2fbff;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.second{
    background-color:#11103A ;
    font: 300;
    color: white;
    line-height: 2;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    /* font: ; */
    
}

.progress-bar-success{
    background-color: #cf3504 !important ;
}

.tempdisplay{
font-size: 10rem;
text-align: center;
font-family: Optima, sans-serif;
font-weight: 100;
}

.temp_reading{
    font-size : 6em;
    font-weight: 100;
    font-family: Cambria Math ;
}

.loadingStyle{
  height: 100vh;
  width: 100vw;
}

.O_deg{
font-size: 20px;
justify-self: start;
height: 40px;
}

.todayImgStyle{
  color: '#4b95ea';
  font-size: 36px;
}